name: CI Build

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --config Release

      - name: Package artifact
        run: |
          mkdir -p artifacts
          cp build/cpp_raii_and_ownership artifacts/
          zip -r artifacts/cpp_raii_and_ownership_linux.zip artifacts/cpp_raii_and_ownership

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-artifact
          path: artifacts/cpp_raii_and_ownership_linux.zip

  build-windows:
    name: Build Windows
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
        shell: pwsh

      - name: Build
        run: cmake --build build --config Release
        shell: pwsh

      - name: Package artifact
        run: |
          mkdir artifacts
          $zipName = "cpp_raii_and_ownership_windows.zip"
          Copy-Item -Path build\Release\cpp_raii_and_ownership.exe -Destination artifacts\
          Compress-Archive -Path artifacts\cpp_raii_and_ownership.exe -DestinationPath artifacts\$zipName
        shell: pwsh

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-artifact
          path: artifacts/cpp_raii_and_ownership_windows.zip
